<h4 class="text-center">Where to go?</h4>
<div class="btn-group-vertical btn-group-lg">
	<button type="button" class="btn btn-default">Forest's Entrance</button>
	<button type="button" class="btn btn-default">Market</button>
	<button type="button" class="btn btn-default">Shrine</button>
	<button type="button" class="btn btn-default">Look for Trouble</button>
</div>